#user {
  padding: 90px 0;
}

.user {
  display: flex;
  gap: 460px;
}

.user-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-card {
  display: flex;
  align-items: center;gap: 10px;
}
.user-card span{
  width: 180px;
  font-size: 20px;
  font-weight: 700;
}
.user-text h2 {
  border: 2px solid black;
  width: 400px;
  height: 50px;
  display: flex;
  padding: 0 12px;
  align-items: center;
  border-radius: 8px;
}

.doc {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user img {
  width: 230px;
  height: 300px;
  border: 1px solid black;
  /* border: none; */
  object-fit: cover;
  border-radius: 5px;
}

.title-doc {
  text-align: center;
  margin: 30px 0;
}

.user-doc {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-doc h2 {
  border: 2px solid black;
  width: 400px;
  height: 50px;
  display: flex;
  padding: 0 12px;
  align-items: center;
  border-radius: 8px;
}

.user-doc button {
  border: 2px solid black;
  font-size: 24px;
  width: 52px;
  height: 52px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
}

/* MODAL */

.modal-doc {
  width: 800px;
  height: 90vh;
  border: 2px solid black;
  margin: 0 auto;
  position: absolute;
  top: 320px;
  left: 430px;
  background: #7398ff;
}

.modal-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid;
  padding: 0 12px;
  font-size: 35px;
}

.modal-icons-ic {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 12px;
  font-size: 30px;
}

.modal-img img {
  width: 100%;
  height: 80vh;
  /* object-fit: cover; */
}
